{:duct.profile/base
 {:duct.core/project-ns clojure-rss-reader

  :duct.database.sql/hikaricp
  {:adapter "postgresql"
   :server-name #duct/env "DB_HOST"
   :port-number #duct/env "DB_PORT"
   :username #duct/env "DB_USER"
   :password #duct/env "DB_PASS"
   :database-name #duct/env "DB_NAME"}

  :duct.router/ataraxy
  {:routes
   {[:get "/v1/feeds"] [:clojure-rss-reader.handler.feeds/get]}}

  :clojure-rss-reader.handler.feeds/get
  {:db #ig/ref :duct.database.sql/hikaricp}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
