{:duct.profile/base
 {:duct.core/project-ns clojure-rss-reader

  :handler.feeds/get {}
  :handler.feeds/post {}

  :duct.router/ataraxy
  {:routes {[:get "/v1/feeds"] [:feeds/get]
            [:post "/v1/feeds"] [:feeds/post]}}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
