{:duct.profile/base
 {:duct.core/project-ns clojure-rss-reader

  :duct.database.sql/hikaricp
  {:adapter "postgresql"
   :server-name #duct/env ["DB_HOST" :or "localhost"]
   :port-number #duct/env ["DB_PORT" Int :or 5432]
   :username #duct/env ["DB_USER" :or "user"]
   :password #duct/env ["DB_PASS" :or "password"]
   :database-name #duct/env ["DB_NAME" :or "feed"]}

  :duct.router/ataraxy
  {:routes
   {[:get "/v1/feeds"] [:clojure-rss-reader.handler.feeds/get]
    [:post "/v1/feeds"] [:clojure-rss-reader.handler.feeds/post]}}

  :clojure-rss-reader.handler.feeds/get
  {:db #ig/ref :duct.database.sql/hikaricp}
  
  :clojure-rss-reader.handler.feeds/post
  {:db #ig/ref :duct.database.sql/hikaricp}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
